svg {
    border: 1px solid red;
}


.tick > text {
    font-size: 14px;
}

.axis-label {
    font-size: 16px;
    font-weight: bold;
}

.graph__title {
    font-size: 20px;
    font-weight: bold;
}

.legend {
    display: inline-block;
}
.legend__title, .toggle__title{
    font-size: 16px;
    font-weight: bold;
}

.legend__item {
    font-size: 14px;
}

.toggle__item {
    font-size: 14px;
}

.toggle__item-active{
    font-style: italic;
}