.tick > text {
    font-size: 10px;
}

.axis-label {
    font-size: 16px;
    font-weight: bold;
}

.graph__title {
    font-size: 20px;
    font-weight: bold;
}

.legend {
    display: inline-block;
}
.legend__title, .toggle__title{
    font-size: 16px;
    font-weight: bold;
}

.legend__item {
    font-size: 14px;
}

.toggle__item {
    font-size: 14px;
}

.toggle__item-active{
    font-style: italic;
}

.instructions {
    font-style: italic;
    font-weight: bold;
}

.tooltip{
    background: #fff;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
  font: 14px sans-serif;
  padding: 12px;
  pointer-events: none;
  position: absolute;
}

.tooltip__title {
    font-weight: bold;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* .x-axis > .tick{
    display: none;
}

*/
/* .x-axis > .tick:nth-child(even){
    display: none;
}  */